# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
venv/
env/

# VS Code
.vscode/

# Environment files
.env

# Build and packaging
build/
dist/
*.egg-info/

# Jupyter
.ipynb_checkpoints/
